/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
  background-color: red;
}

h1 { font-size: 4.2rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 8.0rem; }
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.section-code {
  text-align: left;
}

.text {
  padding: 5rem 0 2rem;
}

/* Introduction
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.introduction {
  background-image: url('../images/pawel-czerwinski-sXmKcDoHKsI-unsplash.jpg');
  background-size: cover;
  color: #ffffff;
  padding-bottom: 5rem;
}

.introduction-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.introduction-heading {
  margin-bottom: .3rem;
}
.introduction-description {
  opacity: .8;
  font-weight: 300;
}

/* What-is-grenade
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.what-is-grenade {
  background-color: #eedaff;
  color: #000000;
  padding-bottom: 5rem;
}

.what-is-grenade-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.what-is-grenade-heading {
  margin-bottom: .3rem;
}
.what-is-grenade-description {
  opacity: .8;
  font-weight: 300;
}


/* Why-have-types
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.why-have-types {
  background-image: url('../images/purple-370132.png');
  background-size: cover;
  color: #ffffff;
  padding-bottom: 5rem;
}

.why-have-types-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.why-have-types-heading {
  margin-bottom: .3rem;
}
.why-have-types-description {
  opacity: .8;
  font-weight: 300;
}

/* Get-started
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-started {
  background-color: #eedaff;
  color: #000000;
  padding-bottom: 5rem;
}

.get-started-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.get-started-heading {
  margin-bottom: .3rem;
}
.get-started-description {
  opacity: .8;
  font-weight: 300;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-image: url('../images/purple-370132.png');
  background-size: cover;
  color: #ffffff;
  padding-bottom: 5rem;
}
.about-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.about-heading {
  margin-bottom: .3rem;
}
.about-description {
  opacity: .8;
  font-weight: 300;
}

/* Advantages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.benefits {
  background-color: #eedaff;
  color: #000000;
  padding-bottom: 5rem;
}

.benefits-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.benefits-heading {
  margin-bottom: .3rem;
}
.benefits-description {
  opacity: .8;
  font-weight: 300;
}

.tutorial {
  background-image: url('../images/pawel-czerwinski-VWVO0g9A3rg-unsplash.jpg');
  background-size: cover;
  color: #ffffff;
  padding-bottom: 5rem;
}

.tutorial-header {
  background-image: url('../images/pawel-czerwinski-YO1WPCUtvR4-unsplash.jpg');
  background-size: cover;
  color: #ffffff;
  padding-top: 20rem;
  padding-bottom: 20rem;
}



/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .introduction {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .introduction-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .introduction {
    height: 190px;
  }
  .introduction-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .introduction {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .introduction {
    padding: 22rem 0;
  }
  .introduction-heading {
    font-size: 3.0rem;
  }
}